@font-face {
    font-family: Montserrat;
    src: url("../../public/font/en/Montserrat/Montserrat Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "方正清刻本悦宋";
    src: url("../../public/font/ch/方正清刻本悦宋 简繁/FZQINGKBYSJF.OTF") format("opentype");
}
